<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form method="POST" action="ajouterCategories.php">
	<table>
		<tr>
			<td>Code_cat:</td>
			<td><input type="number" name="code_cat"></td>
		</tr>
		<tr>
			<td>Nom_cat:</td>
			<td><input type="text" name="nom_cat"></td>
		</tr>
		<tr>
			<td>Description:</td>
			<td><input type="text" name="description"></td>
		</tr>
		<tr>
			<td></td>
			<td>  <input type="submit" value="Enregistrer"> </td>
		</tr>
	</table> 


</form>

</body>
</html>

