<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form method="POST" action="ajouterProduits.php">
	<table>
		<tr>
			<td>Ref_Produit:</td>
			<td><input type="number" name="ref_produit"></td>
		</tr>
		<tr>
			<td>Nom:</td>
			<td><input type="text" name="nom"></td>
		</tr>
		<tr>
			<td>Quantite:</td>
			<td><input type="number" name="quantite"></td>
		</tr>
		<tr>
			<td>Prix:</td>
			<td><input type="number" name="prix"></td>
		</tr>
		<tr>
			<td>Disponible:</td>
			<td><input type="number" name="disponible"></td>
		</tr>
		<tr>
			<td>Code_cat:</td>
			<td><input type="number" name="code_cat"></td>
		</tr>
		<tr>
			<td></td>
			<td>  <input type="submit" value="Enregistrer"> </td>
		</tr>
	</table> 


</form>

</body>
</html>

